<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_load_after">
		<observer instance="Prilov\Customerpersonalization\Observer\Customer\LoadAfter" name="prilov_customerpersonalization_observer_customer_loadafter_customer_load_after"/>
	</event>
</config>
